@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
       url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
       url('../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'RobotoSlab-Regular';
}
header{
  background-color: white;
}
header.bg_home {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}
.main-nav{
  padding: 0;
}
.lo-text{
  color: #B9B9B9;
  margin-bottom: 0;
}
.navbar-brand img{
	width: 100%;
	height: 100%;
	}

.nav-bar li {
	padding-right: 25px;
}

.nav-link {

  font-family: Heebo;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
padding: 0;

color: #324950;
}


* {box-sizing: border-box;}


input, button {
  border: none;
  outline: none;
  background: transparent;
}

input {
  width: 100%;
  height: 45px;
}

.search {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav{
  margin-top: 23px;
  width: 500px;
  display: flex;
  justify-content:space-between;
}
.main-nav{
  padding-top: 20px;
  padding-bottom: 19px;
}
.search-field{
  position: relative ;
  width: 350px;
  border-bottom:  1px solid #324950;
  display: flex;
}
.search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 22px;
}
.container-fluid{
  margin-bottom: 0;
}
footer {
  background-color: rgb(32, 50, 71);
}
.nav-field{
  display: flex;
  margin: 0;
  justify-content: end;
  flex-direction: column;
  align-items: flex-end;
}
ul.hr li{
  display: inline; 
  margin-right: 6px;
  padding: 4px;
  color: white;
}

.fa-facebook, .fa-twitter, 
.fa-instagram, .fa-youtube,
.fa-linkedin-in{
  color: #105319;
  font-size: 22px;
  margin: 12px 7px 12px 7px;
}

.fa-facebook:hover, .fa-twitter:hover,
.fa-instagram:hover, .fa-youtube:hover,
.fa-linkedin-in:hover{
	color: #ccc;
}

.seeds {
  margin:12px 7px 22px 7px;
  font-size: 14px;
  color: black;
}

.seeds img{  
  height: 37px;
  margin: 17px 7px 17px 7px;
}

.seeds figcaption{color: black;}

.bg_body{
  background: url(../img/bg_body.png) center no-repeat;
  background-color: rgb(239, 243, 243);
  background-size: cover;
  }

.bg_body2 {
  background-color: rgb(229, 236, 236);  
 
}

.bg_body2 img{
  height: 165px;
}

.bg_body2 h3{color: #1fa030;}

.bg_body2 hr{
  background: #238b31;
  width: 180px;
}

.bg_body2 p{font-size: 18px}

.line { 
  border-left: 2px solid rgb(255, 102, 0);
  padding-left: 10px; 
 }

 .card_tom {
   color: rgb(110, 158, 19);  
 }
 
 .card_tom figure{
   text-align: center;
    background-color: white;
  }

  .card_tom img{
    display: block;
    height: auto;
    max-width: 100%;
  }

.dow {
  width: 210px;
  height: 60px;  
  border: 2.5px solid #105319; 
  border-radius: 55px;
  background: url("../img/ico_pdf.png") 15px no-repeat  ;
  display: inline-block;  
  padding: 12px;
  color: #105319;
  text-align: center; 
  padding-left: 32px; 
}

.bg_tom_one{ 
  background: url(../img/tom_one_bg.png) center no-repeat;
  background-color: rgb(240, 240, 240);   
  background-size: cover;
}

hr{ 
    background-color: olivedrab;
    width: 50%;  
    display: inline-block;
  }

  .tom_one img{
    display: block;
    height: auto;
  }

  .bg_tom_one h5{
    color: olivedrab;
  }

  .bg_tom_one li{
    color: olivedrab;
    padding: 5px;
  }

  .bg_tom_one li span{
    color: black;
  }
  @media(max-width:800px)
  {
    .max-px{
      margin-left: 100px;
      margin-right: 100px;
    }
    .max-px-ing{
margin: 50px;
    }
  }
