
@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
       url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
       url('../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'RobotoSlab-Regular';
}
header.bg_home {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
}

.navbar-brand img{
	width: 100%;
	height: 100%;
	}

.nav-bar li {
	padding-right: 25px;
}

.nav-link {
	font-size:1em !important
}
.lo-text{
  color: #B9B9B9;
  margin-bottom: 0;
}

* {box-sizing: border-box;}
form {
  position: relative ;
  width: 343px;
  border-bottom: 1.5px solid black;
}

input, button {
  border: none;
  outline: none;
  background: transparent;
}

input {
  width: 100%;
  height: 43px;
  padding-left: 17px;
}

.search {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 23px;
}

footer {
  background-color: rgb(32, 50, 72);
}

ul.hr li{
  display: inline; 
  margin-right: 7px;
  padding: 4px;
  color: white;
}

.fa-facebook, .fa-twitter, 
.fa-instagram, .fa-youtube,
.fa-linkedin-in{
  color: #1fa030;
  font-size: 24px;
  margin: 13px 8px 11px 6px;
}

.fa-facebook:hover, .fa-twitter:hover,
.fa-instagram:hover, .fa-youtube:hover,
.fa-linkedin-in:hover{
	color: #ccc;
}

.seeds {
    margin: 13px 8px 11px 6px;
    font-size: 13px;
    color: black;
}

.seeds img{  
  height: 36px;
  margin: 16px 6px 16px 6px;
}

.seeds figcaption{color: black;}

.bg_b{
  background: url(../img/bg_body.png) center no-repeat;
  background-color: rgb(238, 242, 242);
  background-size: cover;
  }

.bg_b2 {
  background-color: rgb(229, 236, 236);  
 
}

.bg_b2 img{
  height: 164px;
}

.bg_b2 h3{color: #1fa030;}

.bg_b2 hr{
  background: #238b31;
  width: 181px;
}

.bg_b2 p{font-size: 18px}

.line { 
  border-left: 2px solid rgb(255, 102, 0);
  padding-left: 11px; 
 }

 .card_tom {
   color: rgb(110, 158, 19);  
 }
 
 .card_tom figure{
   text-align: center;
    background-color: white;
  }

  .card_tom img{
    display: block;
    height: auto;
    max-width: 100%;
  }


.down {
  width: 211px;
  height: 61px;  
  border: 2.5px solid #105319; 
  border-radius: 55px;
  background: url("../img/ico_pdf.png") 15px no-repeat  ;
  display: inline-block;  
  padding: 11px;
  color: #105319;
  text-align: center; 
  padding-left: 33px; 
}

.bg_tom_one{ 
  background: url(../img/tom_one_bg.png) center no-repeat;
  background-color: rgb(240, 240, 240);   
  background-size: cover;
}

hr{ 
    background-color: olivedrab;
    width: 50%;  
    display: inline-block;
  }

  .tom_one img{
    display: block;
    height: auto;
  }

  .bg_tom_one h5{
    color: olivedrab;
  }

  .bg_tom_one li{
    color: olivedrab;
    padding: 5px;
  }

  .bg_tom_one li span{
    color: black;
  }

