<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto&family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style3.css">
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>Tomato one</title>
</head>

<!-- Шапка сайта -->


<!-- Тело сайта -->
<body style="background-color: #E5E5E5;" >
	<header >
		<div class="container">
			<div class="rov">
				<nav class="main-nav navbar navbar-expand-md justify-content-between">
						<a href="#" class="navbar-brand"><img src="img/Logo.png" ></a>
					<div class="nav-field">			
						<form >
							<div class="search-field">
								<input type="text" placeholder="Search">
							
								<button type="submit"><img src="img/ico_search.png" alt="search"></button>
							</div>
						</form>
						<ul class="navbar-nav ml-auto ">
							<li class="nav-item">
								<a href="index.html" class="nav-link">Home</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Company Profile</a>
							</li>
							
							<li class="nav-item">
								<a href="2ZAD.html" class="nav-link">Products</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Serviced</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">R & D</a>
							</li>
							<li class="nav-item">
								<a href="4ZAD.html" class="nav-link">Contact</a>
							</li>
						</ul>
					</div>
			</nav>
			</div>
		</div>
	
	
	</header>
	<div class="all">
	<div class="container padding tomatoes-block" id="app">
		
			<div class="head-bd col-12 bd"><img src="img/Arrow 1.png" class=""> Return to all tomatoes</div>
		<div class="head">
			<div class="row justify-content-center" >	
				<div class="col-6 img-fluid" >
						<figure>
						<p class="top1-text">{{product.title}}</p>
						<p class="top2-text"> {{product.short_text}} </p>
						</figure>

				
				
				
					<figure><img src="img/Union.png"></figure>
					<p></p>
					<div class="rad-tomat" ><img src="img/Ветка_томатов(1).png">
						<div class="tomat-text">Very high yield and excellent fruits quality!</div>
						
					</div>

					<figure>
					<p class="hi-text">CHARACTERISTICS</p>
					<hr class="lin">
					<p class="lo1-text">Resistance</p>
					<p class="lo-text">HR: ToMV:0-2; Fol: 1,2; Ve/Vd; </p>
					<p class="lo-text">IR: TYLCV</p>
					</figure>

				</div>
				<div class="col-6">
					<img :src="'img/'+product.Image">


					<a href="#" @click.prevent="addToCart(product.id)"v-if="!btnVisible">
						<div class="pdf-img">
							<div class="pdf-btn">   
                                <div class="pdf-btn-ins" >
                                    <img src="img/ico_pdf.png" alt="">
                                    <p>
                                        Add to cart
                                    </p>
                                </div>
                            </div>
						</div>
					</a>
					<a href="4ZAD.html" v-if="btnVisible">
						<div class="pdf-img">
							<div class="pdf-btn">   
                                <div class="pdf-btn-ins" >
                                    <img src="img/ico_pdf.png" alt="">
                                    <p>
                                        Go to cart
                                    </p>
                                </div>
                            </div>
						</div>
					</a>

				</div>

				<div class="col-6"><figure>
				<p class="hi-text">Plant</p>
				<hr class="lin">
				<ul>
				<li class="lo-text">Strong vigor that provides good leaf coverage.</li>
				<li class="lo-text">Very high productivity with good fruit setting.</li>
				<li class="lo-text">Early matured variety.</li>
				</ul></figure>
				</div>

				<div class="col-6"><figure>
					<p class="hi-text">Cycle</p>
					<hr class="lin">
					<ul>
					<li class="lo-text">Spring</li>
					<li class="lo-text">Fall</li>
					<li class="lo-text">Winter</li>
					</ul></figure>
					</div>

				<div class="col-6"><figure>
					<p class="hi-text">Fruit</p>
					<hr class="lin">
					<ul>
					<li class="lo-text">Long shelf life on plant and post harvest.	</li>
					<li class="lo-text">Nice shiny attractive deep red color.</li>
					<li class="lo-text">Average fruit size: 140 – 160 grams.</li>
					</ul></figure>
				</div>
				<div class="col-6"><figure>
					<p class="hi-text">Color</p>
					<hr class="lin">
					<ul>
					<li class="lo-text">Red</li>
					</ul></figure>
					</div>
			</div>
			</div>
		</div>
	</div>
	<footer >
		<div class="container-fluid text-center ">
			<div class="row padding justify-content-center ">
				<div class="col-8 col-8 col-6 ">
					<ul class="hr">
						<li>PROFILE</li>
						<li>MANAGEMENT</li>
						<li>PRODUCTS</li>
						<li>R&D</li>
						<li>LINKS</li>
						<li>SITEMAP</li>
						<li>CONTACTS</li>
					</ul>
				</div>
				<div class="col-4 col-4 col-6 ">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>	
				
		</div>
		<div class="container-fluid text-center" style="background-color:#324950; color:white"> 
			<p class="lo-text"> Agridera Seeds and Agriculture Ltd.©2020</p>		
		</div>	
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="js/main.js"></script>
</body>
<!--Футер сайта-->

</html>