<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto&family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style4.css">
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>Contact us</title>
</head>

<!-- Шапка сайта -->

<!-- Тело сайта -->
<body style="background-color: #E5E5E5;">
	<header >
		<div class="container">
			<div class="rov">
				<nav class="main-nav navbar navbar-expand-md justify-content-between">
						<a href="#" class="navbar-brand"><img src="img/Logo.png" ></a>
					<div class="nav-field">			
						<form >
							<div class="search-field">
								<input type="text" placeholder="Search">
							
								<button type="submit"><img src="img/ico_search.png" alt="search"></button>
							</div>
						</form>
						<ul class="navbar-nav ml-auto ">
							<li class="nav-item">
								<a href="index.html" class="nav-link">Home</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Company Profile</a>
							</li>
							
							<li class="nav-item">
								<a href="2ZAD.html" class="nav-link">Products</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">Serviced</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link">R & D</a>
							</li>
							<li class="nav-item">
								<a href="4ZAD.html" class="nav-link">Contact</a>
							</li>
						</ul>
					</div>
			</nav>
			</div>
		</div>
		
		<div ><img src="img/image 7.jpg" class="img-fluid"> </div>
	</header>
	
	<div class="all" id="app">
	<div class="container padding " >
		

		<div class="head">
			<div class="row justify-content-center">	
				<div class="col-12 img-fluid">
						<figure>
						<p class="hed">Contact us</p>			
						</figure>

						<div class="cart_item" v-for="item in cart">
							<img :src="'img/'+item.Image" >
							<div><p>{{item.title}}</p></div>
							<div><p>{{item.short_text}}</p></div>	
							<button>X</button>
						</div>

					<figure><img class="xxxx" src="img/Union.png"></figure>

				</div>
			<div class="col-4"> 
			<p class="text-text">Name *</p>
			<input type="text" class="text-">
			<p class="text-text">Company Name</p>
			<input type="text" class="text-">
			<p class="text-text">Position</p>
			<input type="text" class="text-">
			<p class="text-text">City</p>
			<input type="text" class="text-">
			<p class="text-text">Country</p>
			<input type="text" class="text-">
			<p class="text-text">Telephone</p>
			<input type="text" class="text-">
			<p class="text-text">Email *</p>
			<input type="text" class="text-">
			</div>
			<div class="offset-md-1 col-7"> 
					<div class="text-fine">
					<p class="text-text">
						You are a
					</p>
						<select name="list1" id="1">
							<option value="0" class="text-into">seed producer</option>
						</select>
					</div>
				<p class="text-text">If other, please specify</p>
				<input type="text" class="text-">
				<p class="text-text">You are interested in</p>
				<textarea class="text-slid"></textarea>
				<div>
					<p class="text-text">Please type this code</p>
					<div class="buton-">
					<img src="img/image 12.png">
					<input type="text" class="text-batton">
					<button>
					Send Message
					</button>
					</div>
				</div>
			</div>
			 
		</div>
	</div>
	</div>
	</div>
	<footer>
		<div class="col-12">
		<div class="bot">
			<p class="text1-bot">Our Address</p>
			<hr class="hr-bot">
			<p class="text2-bot">AGRIDERA Seeds & Agriculture Ltd.</p>
			<p class="text2-bot">P.O Box 103,</p>
			<p class="text2-bot">Gedera 70750, Israel.</p>
			<p class="text2-bot">Telephone: <span class="text3-bot">+972 8 944 9222</span>	</p>
		</div>
		</div>
		<div class="container-fluid text-center ">
			<div class="row padding justify-content-center ">
				<div class="col-8 col-8 col-6 ">
					<ul class="hr">
						<li>PROFILE</li>
						<li>MANAGEMENT</li>
						<li>PRODUCTS</li>
						<li>R&D</li>
						<li>LINKS</li>
						<li>SITEMAP</li>
						<li>CONTACTS</li>
					</ul>
				</div>
				<div class="col-4 col-4 col-6 ">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>	
				
		</div>
		<div class="container-fluid text-center" style="background-color:#324950; color:white"> 
			<p class="lo-text"> Agridera Seeds and Agriculture Ltd.©2020</p>
		</div>	
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="js/main.js"></script>
</body>

<!--Футер сайта-->

</html>